body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

a:visited{
    color: white;
}

.Main {
    display: none;
}