.Mobile{
    display: none;
}
.Mobile-Links{
    display: none;
}
body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin-left: 170px;
}

h1 {
    font-family: 'Oleo Script', cursive;
    color: white;
    font-size: 500%;
}

a:visited{
    color: white;
    text-decoration: none;
}

.navtext{
    color: white;
    font-weight: 400;
    letter-spacing: .02em;
    padding-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
}
.navtext:hover{
    color: purple;
}
#Profileimg{
    width: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
section{
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
}
.col2{
    display: grid;
    grid-template: 0% 0% / 50% 50%;
    border: purple 1px solid;
    margin: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 0%;
}

section img{
    width: 100%;
    
}
section h1{
    font-family: 'Oleo Script', cursive;
    font-size: 500%;
    padding-bottom: 0;
    margin-bottom: 5px;
    text-decoration: underline;
}
section p{
    font-size: 200%;
    margin: 0 10px;
    color: purple;
}

 footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  footer img{
    width: 80px;
  }
  .articles img{
      width: 100%;
  }
  .articles h2{
      text-align: center;
      text-decoration: underline;
  }
  .articles{
      margin: 0px 10px;
      padding-top: 30px;
  }
  .articles p{
      padding: 0 15px;
  }
  .odd{
      background-color: white;
      color: black;
      padding-bottom: 15px;
  }
 .Banner{
     width: 100%;
 }
 #Menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 8em;
    margin-top: 0;
    height: 100%;
    width: 120px;
    background-color: grey;
    overflow-x: hidden;
    padding-top: 20px;
    z-index: 1;
 }
 #Menu a{
     display: flex;
     flex-direction: column;
 }
 .navsocials img{
     width: 50px;
     padding: 5px;
 }
 .navsocials{
    position: fixed; 
    bottom: 10px;
    left: 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
 }
 .Homepage{
     display: flex;
     flex-wrap: nowrap;
     flex-direction: row-reverse;
 }
 .Homepage img{
     padding-top: 35px;
     width: 100px;
     height: 100%;
 }
 .navsocials a:hover{
     background-color: purple;
 }
 .bgimg {
    background-image: url("/files/Images/what-the-hex-dark.png");
    height: 100%;
    background-position: center;
    background-repeat:inherit;
    background-size: cover;
    display: flex;
    background-color: black;
    filter: grayscale(50%);
  }
  .bg{
    background-image: url("/files/Images/what-the-hex-dark.png");
    height: 100%;
    background-position: center;
    background-repeat:inherit;
    background-size: cover;
    display: flex;
    background-color: black;
    filter: grayscale(50%);
}
.Contactpg{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: nowrap;
}
#formitem{
    margin-bottom: 20px;
}
.Contactpg input{
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.card{
    border: purple 1px solid;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: white;
    text-align: center;
    width: 95%;
    margin-bottom: 10px;
}
.card:hover{
    box-shadow: 0 8px 18px 0 purple;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.container{
    padding: 2px 16px;
}
#blogcards{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr)
}
#blogcards img{
    width: 100%;
}