body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

a:visited{
    color: white;
}

.Mobile{
    display: none;
}
nav{
    background-color: #202124;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 5px;
    margin-bottom: 20px;
}
nav a{
    margin-left: 20px;
    text-decoration: none;
}
.navtext{
    color: white;
    font-weight: 400;
    letter-spacing: .02em;
}
.navtext:hover{
    color: purple;
}
.contact:hover{
    color: purple;
}
.contact{
    position: relative;
    padding-right: 20px;
    flex: 1;
    text-align: right;
    color: white;
}
main{
    display: flex;
    flex-direction: column;

}
#Profileimg{
    width: 40%;
    display: flex;
    flex-direction: row;
}
.col2{
    display: inline-block;
    text-align: center;
}

section img{
    width: 100%;
}
section h1{
    font-family: 'Oleo Script', cursive;
    font-size: 500%;
    padding-bottom: 0;
    margin-bottom: 5px;
    text-decoration: underline;
}
section p{
    font-size: 200%;
    margin: 0 10px;
    color: purple;
}

 footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  footer img{
    width: 80px;
  }